body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

bigimg {
  padding: 50px;
  text-align: center;

  /* background-image: url("makeupcollage.jpg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 1;
}

about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

/* .container {
  padding: 0 16px;
} */

/* .container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
} */

.title {
  color: grey;
}

/* #product-details-div {
  display: flex;
  justify-content: center;

  background-color: rgba(198, 192, 192, 0.367);
}
#product-main-description {
  width: 40%;
/* } */
.main-details {
  display: flex;
  justify-content: center;
}

/* img.main-image {
  width: auto;
} */
/* .homepage-body {
  display: flex;
  justify-content: center; */
/* display: flex;
  background-color: teal; */
/* flex-direction: row;
  flex-wrap: wrap; */
/* flex-flow: row wrap; */
/* } */
#review-section-container.h3 {
  padding: 10px;
}
.button:hover {
  background-color: #555;
}

/* @media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
} */

a {
  color: #400542;
}

* {
  box-sizing: border-box;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: black;
  color: white;
  font-size: 1.5vw;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  /* width: 45%; */
  opacity: 0.9;
}
button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

/* #product-card {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* .list-of-products-container {
  background-color: teal;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
} */

/* #product-card {
  display: flex;
  flex-direction: row;
  margin: 5% 10%;
  box-shadow: 5px 5px 5px lightgray;
  background-color: white;
  color: red;
  border-radius: 10px;
}

#vehicle-card:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
  outline: none;
}  */
/****************************************************************************************/
/* .vehicle-card-index-page {
  text-decoration: none !important;
  position: relative;
}

.vehicle-card-index-page .vehicle-card .vehicle-img {
  margin-bottom: 0.5rem;
}

.vehicle-card-index-page .vehicle-card * {
  margin-bottom: 0.5rem;
  color: #225473; */

/*************************************************************************************/

/* 
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  } */
/* } */

.main-image {
  width: 70%;
}
/* login/logout*/
.form-contianer {
  border: 10px solid black;
  width: 40%;

  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

.auth-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* padding-top: 10px; */
}
.auth-form-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 50px;
  margin-top: 100px;
  width: 30vw;
  border: 1px solid black;
}
#sign-up-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.auth-form-text {
  padding: 15px 0 0 0;
  display: flex;
  justify-content: center;
}
/* .form-contianer-login {
  display: flex;
  justify-content: center;
} */
/* main {
  display: flex;
  justify-content: center;
  padding-top: 100px;
} */

.authNav {
  background-color: white;
  -webkit-box-shadow: 0px 1px 1px #3e3d3e;
  -moz-box-shadow: 0px 1px 1px #3e3d3e;
  box-shadow: 0px 10px 10px #3e3d3e5a;
}
/*index/homepage*/
/* .set-of-vehicles {
  display: flex;
  justify-content: center;
  flex-direction: row;
} */
.product-img {
  width: 13em;
  max-height: 13em;
}
.set-of-products {
  display: flex;

  justify-content: center;
  padding-bottom: 10px;
}
/* .button-to-open-product-details {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 45%;
  opacity: 0.9;
} */
.button-to-mightlike-product-list {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 45%;
  opacity: 0.9;
}
/*product list*/
.button-to-open-product-details {
  display: flex;
  flex-flow: column wrap;
}
.list-of-products-container {
  padding: 20px;
}

.list-of-products-box {
  /* display: flex;
  width: 60%;
  flex-direction: column;
  background-color: blue; */
}
.list-of-products {
  /* padding: 20px;
  width: 15em; */
}
.header-products-list {
  /* display: flex;
  flex-flow: row wrap;
  background-color: teal; */
}
.table-list-product {
  /* display: flex;
  justify-content: space-;
  flex-direction: column;
  padding: 20px; */
}
/* .list-of-products-container {
  display: flex;
  flex-flow: column wrap;
  width: 100px;
} */
/* .button-to-open-product-details {
  width: 50em;
} */
/* .card-img-top {
  width: 60%;
} */
/* html {
  display: flex;
  flex-flow: row wrap;
} */
/*index.hbs*/
